<div class="bg-yellow-100 font-sans flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-4">Welcome to Horodope</h1>
        <p class="text-gray-700 mb-6">If you want to learn more about yourself, read our blogs written by professional horoscopists.</p>
        <%= link_to "Explore Blogs", posts_path, class: "bg-blue-200 text-white px-6 py-3 rounded-full hover:bg-gray-600" %>
    </div>
</div>
